<div class="container award-container">
	<h3>{{ site.awards_title | default: "Awards" }}</h3>
	<div class="row clearfix">
		{% for awards in site.data.awards %}
		<div class="col-xs-12 col-sm-12 col-md-12 col-print-12 details">
			<h2>{{ awards.name }}</h2>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-print-12 details">
			<p>{{ awards.date }}</p>
		</div>
		{% endfor %}
	</div>
</div>

<div class="container language-container">
	<h3>{{ site.language_title | default: "Languages" }}</h3>
	<div class="row clearfix">
		{% for language in site.data.language %}
		<div class="col-xs-4 col-sm-4 col-md-4 col-print-4 details">
			<h2>{{ language.name }}</h2>
			<p>{{ language.qualification }}</p>
			{%- if language.description -%}
				{{ language.description | strip | markdownify }}
			{%- endif -%}
		</div>
		{% endfor %}
	</div>
</div>

<div class="container interest-container">
	<h3>{{ site.interests_title | default: "Hobbies and Interests" }}</h3>
	<div class="row clearfix">
		{% for interest in site.data.interest %}
		<div class="col-xs-12 col-sm-12 col-md-6 col-print-6 details">
			<div class="col-xs-3 col-sm-3 col-md-3 col-print-3 type">
				<h2>{{ interest.type }}</h2>
			</div>
			<div class="col-xs-9 col-sm-9 col-md-9 col-print-9 elements">
				{{ interest.content | strip | markdownify }}
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{%- if site.data.more.content -%}
<div class="container more-container">
	<h3>{{ site.data.more.title | default: "A Little More About Me" }}</h3>
	<div class="row clearfix">
		<div class="col-md-12">
			{{ site.data.more.content | strip | markdownify }}
		</div>
	</div>
</div>
{%- endif -%}
