$DARK_Background: #181C1E !default;
$DARK_Text: #EBF3F5;

$DARK_Header: #28B8D6 !default;
$DARK_HeaderName: $DARK_Header;
$DARK_HeaderTitle: $DARK_Text;

$DARK_Accent: #9BFA82 !default;
$DARK_SubSection: #15d2e4 !default;

$DARK_Button: $DARK_Header;
$DARK_Icon: #1A2126 !default;

$DARK_Link: #00adb5 !default;

$DARK_Mark: #EBF3F5 !default;
$DARK_MarkBackground: #393e46 !default;
