$DARK_Text: #EBF3F5 !default;
$DARK_Background: #181C1E !default;

$DARK_Main: #28B8D6 !default;
$DARK_Accent: #9BFA82 !default;
$DARK_Secondary: #15d2e4 !default;

$DARK_Button: $DARK_Main;
$DARK_Icon: #1A2126 !default;

$DARK_Link: #00adb5 !default;

$DARK_Mark: #EBF3F5 !default;
$DARK_MarkBackground: #393e46 !default;
