// * {
// 	color: $LIGHT_Text;
// }

body {
	color: $LIGHT_Text;
	background: $LIGHT_Background;
}

a {
	color: $LIGHT_Link;

	&:active, &:focus, &:hover {
		color: $LIGHT_Link;
	}
}

h1 {
	color: $LIGHT_Main;
}

h2 {
	color: $LIGHT_Accent;
}

h3 {
	color: $LIGHT_Accent;
}

h4, h5, h6 {
	color: $LIGHT_Secondary;
}

mark {
	color: $LIGHT_Mark;
	background-color: $LIGHT_MarkBackground;
}

.header-left {
	h1 {
		.firstName {
			color: $LIGHT_Accent;
		}

		.lastNames {
			color: $LIGHT_Main;
		}
	}

	h2 {
		color: $LIGHT_Text;
	}
}

.certification-container {
	.details {
		h2 {
			color: $LIGHT_Secondary;
		}
	}
}

.award-container {
	.details {
		h2 {
			color: $LIGHT_Secondary;
		}

		h4 {
			color: $LIGHT_Text;
		}
	}
}

.language-container {
	.details {
		h2 {
			color: $LIGHT_Secondary;
		}

		h4 {
			color: $LIGHT_Text;
		}
	}
}

.interest-container {
	h2 {
		color: $LIGHT_Secondary;
	}

	h4 {
		color: $LIGHT_Text;
	}
}

.footer-container {
	color: $LIGHT_Text;

	p {
		.firstName {
			color: $LIGHT_Accent;
		}

		.lastNames {
			color: $LIGHT_Main;
		}
	}
}

.icons {
	i {
		background: none;
		color: $LIGHT_Icon;
	}

	a:hover i {
		color: $LIGHT_Accent;
	}
}

.button--sacnite {
	&::before {
		box-shadow: inset 0 0 0 35px $LIGHT_Button;
	}

	&:hover {
		color: $LIGHT_Button;
	}

	&:hover::before {
		box-shadow: inset 0 0 0 2px $LIGHT_Button;
	}
}
